[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
colorama = "*"
dataclasses = "*"
gym = "*"
inquirer = "*"
Keras = "*"
keras-rl = "*"
numpy = "*"
tensorflow = "*"
termcolor = "*"

[dev-packages]
ipython = "*"
mypy = "*"
pylint = "*"
