[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
colorama = {version = "*", sys_platform = "== 'win32'"}
gym = "*"
inquirer = "*"
keras = "*"
keras-rl = "*"
numpy = "*"
tensorflow = "*"
termcolor = "*"

[dev-packages]
black = "==19.10b0"
mypy = "*"
pylint = "*"
twine = "*"
